{% extends "applicationManager/applicationManager_app_template.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block page_content %}



    <div id="page-wrapper">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">Models</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab"
                   aria-controls="messages" aria-selected="false">Pages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
                   aria-controls="settings" aria-selected="false">Settings</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card mt-3">
                    <div class="card-header">
                        <div class="row">

                            <div class="col-lg-12">
                                <h5 class="page-header"><i class="fa fa-server fa-1x"></i> {{ app.app_name | upper }}
                                    application</h5>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div>Owner : <a href="#">{{ app.owner }}</a></div>
                                <div>Long Name : <a href="#">{{ app.verbose_name }}</a></div>
                                <div>URL : <a href="#">{{ app.url }}</a></div>
                                <div>NamedURL : <a href="#">{{ app.namedUrl }}</a></div>
                            </div>
                            <div class="col-lg-6">
                                <div>Is Active : <a href="#">{{ app.active }}</a></div>
                                <div>Owner : <a href="#">{{ app.owner }}</a></div>
                                <div>Owner : <a href="#">{{ app.owner }}</a></div>
                                <div>Owner : <a href="#">{{ app.owner }}</a></div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-plug"></i> Models
                            <div class="pull-right">

                            </div>
                        </div>
                        <!-- /.card-header -->

                        <div class="card-body">
                            <div class="table-responsive">
                                {% csrf_token %}

                                <table class="table table-hover table-striped" id="app_models">
                                    <thead>
                                    <tr>
{#                                        <th></th>#}
                                        <th>Model Name</th>
                                        <th>Definition</th>
                                        <th>Ops</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.panel -->

                    <div class="card fields-panel">
                        <div class="card-header">
                            <i class="fas fa-plug"></i> Fields

                        </div>
                        <!-- /.card-header -->

                        <div class="card-body">
                            <div class="table-responsive">
                                {% csrf_token %}

                                <table class="table table-hover table-striped" id="model_fields">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Field Name</th>
                                        <th>Definition</th>
                                        <th>Type</th>
                                        <th>Parameters</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                    </div>


{#                #}
{#                <div class="card-deck mt-3">#}
{##}
{#             #}
{#                </div>#}

            </div>
            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">

                <div class="card mt-3">
                    <div class="card-header">
                        <i class="fas fa-plug"></i> Pages
                        <div class="pull-right">

                        </div>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                        <div class="table-responsive">
                            {% csrf_token %}

                            <table class="table table-hover table-striped" id="app_pages">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Page Name</th>
                                    <th>URL</th>
                                    <th>Ops</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for page in pages %}
                                    <tr>
                                    <td>ss</td>
                                        <td>{{ page.page_name }}</td>
                                        <td>{{ page.page_layout.layout_name }}</td>
                                    <td>ss</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.panel -->

            </div>
            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                <div class="card mt-3">

                    <div class="card-header">
                        <i class="fas fa-plug"></i> SETTINGS
                    </div>
                    <div class="card-body">
                        <div class="row text-right">
                            <div class="col-lg-4 border-right">
                                Application API:
                                <input type="checkbox" data-toggle="toggle" data-size="small" id="api_toggler"
                                       data-on="Enabled"
                                        {% if app.applicationsettings.api_enabled == True %}
                                       checked
                                        {% endif %}
                                       data-off="Disabled" data-onstyle="success"
                                       data-offstyle="danger">
                            </div>
                            <div class="col-lg-4 border-right">
                                <div class="mb-1">
                                    WBDAP Admin Menu:

                                    <input type="checkbox" data-size="small"
                                            {% if app.applicationsettings.display_wbdap_admin_menu == True %}
                                           checked
                                            {% endif %}
                                           data-toggle="toggle"
                                           data-on="Enabled" data-off="Disabled" data-onstyle="success"
                                           data-offstyle="danger" id="wbdap_admin_menu_toggler"><br>
                                </div>
                                <div>
                                    Application Admin Menu: <input type="checkbox" data-size="small"
                                        {% if app.applicationsettings.display_app_admin_menu == True %}
                                                                   checked
                                        {% endif %}
                                                                   data-toggle="toggle"
                                                                   data-on="Enabled" data-off="Disabled"
                                                                   data-onstyle="success"
                                                                   data-offstyle="danger"
                                                                   id="application_admin_menu_toggler">
                                </div>


                            </div>
                            <div class="col-lg-4  border-right">
                                Application API:
                                <input type="checkbox" data-toggle="toggle" data-size="small" id="api_toggler"
                                       data-on="Enabled"
                                       data-off="Disabled">
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>


        {#        <div class="card">#}
        {##}
        {#            <div class="card-header">#}
        {#                <i class="fas fa-plug"></i> SETTINGS#}
        {#            </div>#}
        {#            <div class="card-body">#}
        {#                <div class="row text-right">#}
        {#                    <div class="col-lg-4 border-right">#}
        {#                        Application API:#}
        {#                        <input type="checkbox" data-toggle="toggle" data-size="small" id="api_toggler" data-on="Enabled"#}
        {#                                    {% if app.applicationsettings.api_enabled == True %}#}
        {#                                   checked#}
        {#                                    {% endif %}#}
        {#                               data-off="Disabled" data-onstyle="success"#}
        {#                               data-offstyle="danger">#}
        {#                    </div>#}
        {#                    <div class="col-lg-4 border-right">#}
        {#                        <div class="mb-1">#}
        {#                            WBDAP Admin Menu:#}
        {##}
        {#                            <input type="checkbox" data-size="small"#}
        {#                                    {% if app.applicationsettings.display_wbdap_admin_menu == True %}#}
        {#                                   checked#}
        {#                                    {% endif %}#}
        {#                                   data-toggle="toggle"#}
        {#                                   data-on="Enabled" data-off="Disabled" data-onstyle="success"#}
        {#                                   data-offstyle="danger" id="wbdap_admin_menu_toggler"><br>#}
        {#                        </div>#}
        {#                        <div>#}
        {#                            Application Admin Menu: <input type="checkbox" data-size="small"#}
        {#                                {% if app.applicationsettings.display_app_admin_menu == True %}#}
        {#                                                           checked#}
        {#                                {% endif %}#}
        {#                                                           data-toggle="toggle"#}
        {#                                                           data-on="Enabled" data-off="Disabled" data-onstyle="success"#}
        {#                                                           data-offstyle="danger" id="application_admin_menu_toggler">#}
        {#                        </div>#}
        {##}
        {##}
        {#                    </div>#}
        {#                    <div class="col-lg-4  border-right">#}
        {#                        Application API:#}
        {#                        <input type="checkbox" data-toggle="toggle" data-size="small" id="api_toggler" data-on="Enabled"#}
        {#                               data-off="Disabled">#}
        {#                    </div>#}
        {##}
        {#                </div>#}
        {##}
        {#            </div>#}
        {##}
        {#        </div>#}
    </div>



{% endblock %}


{% block application_body_jscript %}
    {{ block.super }}
    <!-- Custom Theme JavaScript -->
    <script src="{% static "projectCore/jscript/notify.js" %}"></script>
    <script src="{% static "applicationManager/jscript/submitApplication.js" %}"></script>
    <script src="{% static "applicationManager/jscript/addApplicationModel.js" %}"></script>
    <script src="{% static "applicationManager/jscript/field_operations.js" %}"></script>
    <script src="{% static "applicationManager/jscript/model_operations.js" %}"></script>
    {#    <script src="{% static "applicationManager/jscript/api_toggler.js" %}"></script>#}

    <script>
        $(document).ready(function () {
            $('#myTab a').on('click', function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
            var csrf_token = $("input[name='csrfmiddlewaretoken']").attr('value');


            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                },
            });


            $("#api_toggler").on('change', function () {
                var type = 'api_enabled';
                $.post("{% url 'applicationManager:trigger' app.id %}", {'type': type}, function (data, status) {
                    {#alert("Data: " + data + "\nStatus: " + status);#}
                }, "json");
            });

            $("#wbdap_admin_menu_toggler").on('change', function () {
                var type = 'display_wbdap_admin_menu';
                $.post("{% url 'applicationManager:trigger' app.id %}", {'type': type}, function (data, status) {
                    {#alert("Data: " + data + "\nStatus: " + status);#}
                }, "json");
            });

            $("#application_admin_menu_toggler").on('change', function () {
                var type = 'display_app_admin_menu';
                $.post("{% url 'applicationManager:trigger' app.id %}", {'type': type}, function (data, status) {
                    {#alert("Data: " + data + "\nStatus: " + status);#}
                }, "json");
            });


        });
    </script>




    {% if messageType == "Exception" %}
        <script>
            $(document).ready(function () {
                $.notify("{{ message }}", "error");
            });
        </script>
    {% endif %}


    <script>
        $(document).ready(function () {


            var page_table = $('#app_pages').DataTable({
                "paging": true,
                "select": true,
            });


            var model_editor = new $.fn.dataTable.Editor({
                ajax: {
                    create: {
                        type: 'POST',
                        url: "/api/v1/applicationManager/appmodels/?format=json",
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {

                            d.data[0]['owner_app'] ={{ app.id }};
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                    edit: {
                        type: 'PUT',
                        url: "/api/v1/applicationManager/appmodels/_id_/",
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {

                            var row_id = Object.keys(d.data)
                            var jdata = d.data[row_id]

                            var jdata_keys = Object.keys(jdata);
                            $.each(jdata_keys, function (k, v) {
                                if (v.startsWith('is_')) {
                                    if (jdata[v] === "") {
                                        // alert(v+" is empty valued")
                                        delete jdata[v];
                                        jdata[v] = 'false';
                                    }
                                }
                            })

                            jdata['owner_app'] = {{ app.id }}
                                console.log(jdata);
                            ndata = JSON.stringify(jdata);
                            return ndata;
                        },
                    },
                    remove: {
                        type: 'DELETE',
                        url: "/api/v1/applicationManager/appmodels/_id_/",
                        headers: {
                            'X-CSRFToken': csrftoken
                        }, contentType: 'application/json',
                        data: function (d) {
                            var keys = Object.keys(d.data);
                            ndata = JSON.stringify(d.data[keys[0]]);
                            return ndata;
                        },
                    },
                },
                table: $('#app_models'),
                idSrc: 'id',
                fields: [
                    {
                        label: "Model Name:",
                        name: "name"
                    }, {
                        label: "Definition:",
                        name: "definition"
                    }
                ],
            });

            var table = $('#app_models').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "dom": 'Bfrtip',
                "paging": true,
                "select": true,
                "info": false,
                "ordering": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/api/v1/applicationManager/appmodels/?format=json&owner_app_id={{ app.id }}",
                    dataSrc: 'results',
                    data: function (d) {
                        var keys = Object.keys(d);

                        var offset = d["start"];
                        var limit = d["length"];
                        var search = d["search"];
                        var ordering = d["order"][0]["column"];
                        var order_val = d.columns[ordering]['data'];

                        d["offset"] = offset;
                        d["limit"] = limit;
                        d["order"][0]["column"] = order_val;
                        delete d["start"];
                        delete d["length"];
                    },
                    dataFilter: function (d) {
                        var json = jQuery.parseJSON(d);
                        json.recordsTotal = json.count;
                        json.recordsFiltered = json.count;
                        json.data = json.results;

                        return JSON.stringify(json); // return JSON string
                    }

                }, buttons: [
                    {extend: "create", editor: model_editor},
                    {extend: "edit", editor: model_editor},
                    {extend: "remove", editor: model_editor}
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                "columns": [
                    {#{#}
                    {#    data: null,#}
                    {#    defaultContent: '',#}
                    {#    className: 'select-checkbox not_editable',#}
                    {#    orderable: false#}
                    {#},#}
                    {"data": "name"},
                    {"data": "definition"},
                    //{
                    //    "data": "fields[,].name",
                    //  className: 'not_editable',
                    //},
                    {
                        data: null,
                        className: "center not_editable",
                        defaultContent: '<a href="" class="editor_edit" data-toggle="modal" data-target="#add_field_modal">Fields</a>',
                        render: function (data, type, row, meta) {
                            if (type === 'display') {
                                data = '<a href="#" class="show_fields"  data-model_id=' + data.id + '>Fields</a>'
                                {#data = '<a href="#" class="show_fields" data-toggle="modal" data-target="#add_field_modal" data-model_id=' + data.id + '>Fields</a>'#}

                                ;
                            }
                            return data;
                        }
                    }
                ],
                rowCallback: function (row, data) {

                    var chk_fields = $("input[class^='datatable-is_']", row);

                    $.each(chk_fields, function (k, v) {
                        var elem = v;
                        var cls = elem.getAttribute("class");

                        $(chk_fields[k]).prop('checked', data[cls.split("-")[1]] == true);
                    });
                }
            });

            $('#app_models').on('click', "input:checkbox", function () {
                // console.log( $( this ).attr('class') );

                var type = $(this).attr('class').split("-")[1];
                editor
                // asagidaki ilk satirdaki false, edit modali gosterme demektir.
                // .edit(table.rows({ selected: true}), false)
                    .edit($(this).closest('tr'), false)
                    .set(type, $(this).prop('checked') ? true : false)
                    .submit();
            });

            $('#app_models').on('click', 'tbody td:not(:has(input)):not(.not_editable)', function (e) {

                // alert($(this).html());
                editor.inline(this, {
                    submit: 'allIfChanged'
                });
            });


            {#--------------------------------------------------------------#}

            {#Birinci tablodaki filters linkine tiklandiginda ikinci tabloda icerik yeniden #}
            {#olusturulmakta.#}


            $("#app_models").on('click', '.show_fields', function () {
                var model_id = $(this).attr('data-model_id');

                var init_datatable = function (tname, mid) {

                    $(tname).DataTable({
                        "scrollY": "500px",
                        "scrollCollapse": true,
                        "dom": 'Bfrtip',
                        "paging": true,
                        "select": true,
                        "info": false,
                        "ordering": true,
                        "processing": true,
                        "serverSide": true,
                        "ajax": {
                            url: "/api/v1/applicationManager/fields/?format=json&owner_model=" + mid,
                            data: function (d) {
                                var keys = Object.keys(d);

                                var offset = d["start"];
                                var limit = d["length"];
                                var search = d["search"];
                                var ordering = d["order"][0]["column"];
                                var order_val = d.columns[ordering]['data'];

                                d["offset"] = offset;
                                d["limit"] = limit;
                                d["order"][0]["column"] = order_val;
                                delete d["start"];
                                delete d["length"];
                            },
                            "dataSrc": function (json) {
                                console.log(json);
                                console.log(json.options);
                                console.log(json.options['field_types']);
                                //make another ajax call to get the data for select or extract from the joined data here
                                fields_editor.field('field_type').update(json.options['field_types']);
                                return json.data;
                            },
                            dataFilter: function (d) {
                                var json = jQuery.parseJSON(d);
                                json.recordsTotal = json.count;
                                json.recordsFiltered = json.count;
                                json.data = json.results;

                                return JSON.stringify(json); // return JSON string
                            }

                        }, buttons: [
                            {extend: "create", editor: fields_editor},
                            {extend: "edit", editor: fields_editor},
                            {extend: "remove", editor: fields_editor}
                        ],
                        select: {
                            style: 'os',
                            selector: 'td:first-child'
                        },
                        "columns": [
                            {
                                data: null,
                                defaultContent: '',
                                className: 'select-checkbox not_editable',
                                orderable: false
                            },
                            {"data": "name"},
                            {"data": "definition"},
                            {"data": "field_type"},
                            {"data": "type_parameter"},
                        ],
                        rowCallback: function (row, data) {

                            var chk_fields = $("input[class^='datatable-is_']", row);

                            $.each(chk_fields, function (k, v) {
                                var elem = v;
                                var cls = elem.getAttribute("class");

                                $(chk_fields[k]).prop('checked', data[cls.split("-")[1]] == true);
                            });
                        }
                    });

                }

                var fields_editor = new $.fn.dataTable.Editor({
                    ajax: {
                        create: {
                            type: 'POST',
                            url: "/api/v1/applicationManager/fields/?format=json",
                            headers: {
                                'X-CSRFToken': csrftoken
                            }, contentType: 'application/json',
                            data: function (d) {

                                d.data[0]['owner_model'] = model_id;
                                var keys = Object.keys(d.data);
                                ndata = JSON.stringify(d.data[keys[0]]);
                                return ndata;
                            },
                        },
                        edit: {
                            type: 'PUT',
                            url: "/api/v1/applicationManager/fields/_id_/",
                            headers: {
                                'X-CSRFToken': csrftoken
                            }, contentType: 'application/json',
                            data: function (d) {

                                var row_id = Object.keys(d.data)
                                var jdata = d.data[row_id]

                                var jdata_keys = Object.keys(jdata);
                                $.each(jdata_keys, function (k, v) {
                                    if (v.startsWith('is_')) {
                                        if (jdata[v] === "") {
                                            // alert(v+" is empty valued")
                                            delete jdata[v];
                                            jdata[v] = 'false';
                                        }
                                    }
                                })

                                jdata['owner_model'] = model_id;
                                ndata = JSON.stringify(jdata);
                                return ndata;
                            },
                        },
                        remove: {
                            type: 'DELETE',
                            url: "/api/v1/applicationManager/fields/_id_/",
                            headers: {
                                'X-CSRFToken': csrftoken
                            }, contentType: 'application/json',
                            data: function (d) {
                                var keys = Object.keys(d.data);
                                ndata = JSON.stringify(d.data[keys[0]]);
                                return ndata;
                            },
                        },
                    },
                    table: $('#model_fields'),
                    idSrc: 'id',
                    fields: [
                        {
                            label: "Name:",
                            name: "name"
                        }, {
                            label: "Definition:",
                            name: "definition"
                        }, {
                            label: "Type:",
                            name: "field_type",
                            type: "select",
                            placeholder: "Select field type",
                        }, {
                            label: "Parameters:",
                            name: "type_parameter   "
                        }
                    ],
                });

                if ($.fn.dataTable.isDataTable('#model_fields')) {
                    $('#model_fields').DataTable().destroy();
                    init_datatable('#model_fields', model_id);
                }
                else {
                    init_datatable('#model_fields', model_id);
                }

                {#runEffect();#}
            })
            ;


        })
        ;
    </script>


{% endblock %}
