{% extends 'applicationManager/application_management_page.html' %}
{% load crispy_forms_tags %}

{% block app_home_content %}
    <!-- Begin Page Content -->
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <h2>{% if "update" in request.path %}Update {% else %}Create {% endif %}Field Form</h2>
        </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Begin Page Content -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{% if "update" in request.path %}Edit{% else %}New{% endif %} Field</div>
                        </div>
                    </div>
                    <div>
                        {% csrf_token %}
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
