{% extends "applicationManager/applicationManager_app_template.html" %}
{% load static %}


{% block page_content %}
    {{ block.super }}
    {% include "applicationManager/waitingPage.html" %}


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Django Applications In The Portfolio</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header  bg-light mb-3">
                    <ul class="nav nav-pills card-header-pills">
                        <span class="navbar-brand mb-0 h1"><i class="fa fa-folder-open fa-fw"></i> Applications</span>

                        <li class="nav-item dropdown ml-auto">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Actions
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'projectCore:settings' %}"><i
                                        class="fa fa-cogs"></i>
                                    Settings</a>
                                <a class="dropdown-item" href={% url 'filemanager:view-editor' %}><i
                                        class="fa fa-edit"></i>
                                    Editor</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.panel-heading -->
                <div class="card-body">
                    <div>
                        <table id="application_list_table" class="display table table-striped" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Application Name</th>
                                <th>Verbose Name</th>
                                <th>Core App</th>
                                <th>Owner</th>
                                <th style="text-align:left">Operations</th>
                            </tr>
                            </thead>


                            {% for app in all_apps %}
                                <tr>
                                    <form action="" method="POST" id="appForm_{{ app.id }}">
                                        {% csrf_token %}
                                        <td></td>
                                        <td>
                                            {% if app.core_app == False %}
                                                {#                                                        <a href="{% url app.namedUrl|add:":index" %}"#}
                                                {#                                                           target="_blank"></a>#}
                                                {% if app.soft_app == True %}
                                                    <a href="{% url 'applicationManager:dyn-view-loader' app.uuid 'sayhello' %}"
                                                {% else %}
                                                    <a href="{% url 'applicationManager:redirect-to-app' app.uuid %}"
                                                {% endif %}
                                                   target="_blank">
                                                    <i class="fa fa-desktop fa-fw"></i> {{ app.app_name |capfirst }}
                                                </a>

                                            {% else %}
                                                <a href="{% url 'applicationManager:redirect-to-app' app.uuid %}"
                                                   target="_blank"><i
                                                        class="fa fa-asterisk fa-fw"></i> {{ app.app_name |capfirst }}
                                                </a>
                                            {% endif %}

                                        </td>
                                        <td>{{ app.verbose_name }}</td>
                                        <td>
                                            {% if app.core_app == False %}
                                                External
                                            {% else %}
                                                Core
                                            {% endif %}
                                        </td>
                                        <td>{{ app.owner | capfirst }}</td>
                                        {#                                        <td><span class="text-muted small">#}
                                        {##}
                                        {#                                                {% if app.core_app == False %}#}
                                        {#                                                    {% if  app.active %}#}
                                        {#                                                        <a class="btn btn-success btn-sm"#}
                                        {#                                                           href="{% url 'applicationManager:application-activate' app.id %}"#}
                                        {#                                                           role="button">Active</a>#}
                                        {#                                                    {% else %}#}
                                        {#                                                        <a class="btn btn-danger btn-sm"#}
                                        {#                                                           href="{% url 'applicationManager:application-activate' app.id %}"#}
                                        {#                                                           role="button">Passive</a>#}
                                        {#                                                    {% endif %}#}
                                        {#                                                {% else %}#}
                                        {#                                                    {% if  app.active %}#}
                                        {#                                                        <a class="btn btn-success btn-sm"#}
                                        {#                                                           href="{% url 'applicationManager:application-activate' app.id %}"#}
                                        {#                                                           role="button">Active</a>#}
                                        {#                                                    {% else %}#}
                                        {#                                                        <a class="btn btn-danger btn-sm"#}
                                        {#                                                           href="{% url 'applicationManager:application-activate' app.id %}"#}
                                        {#                                                           role="button">Passive</a>#}
                                        {#                                                    {% endif %}#}
                                        {#                                                {% endif %}#}
                                        {##}
                                        {#                                            </span></td>#}
                                        <td style="text-align: left">

                                            <!-- Single button -->
                                            <div class="btn-group">
                                                <button type="button"
                                                        class="btn btn-sm btn-primary dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    Actions <span class="caret"></span>
                                                </button>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">


                                                    {% if app.core_app == False %}
                                                        {% if  app.active %}
                                                            <a class="dropdown-item" style="background-color: green; color: white"
                                                               href="{% url 'applicationManager:application-activate' app.id %}"
                                                            >Active</a>
                                                        {% else %}
                                                            <a class="dropdown-item" style="background-color: orangered"
                                                               href="{% url 'applicationManager:application-activate' app.id %}"
                                                            >Disabled</a>
                                                        {% endif %}
                                                    {% endif %}



                                                    <div class="dropdown-divider"></div>


                                                    <a class="dropdown-item"
                                                       href="{% url 'applicationManager:generate-data' app.id %}"> <span
                                                            class="glyphicon glyphicon-floppy-open"
                                                            icon-id="{{ app.id }}"></span> Generate Dummy
                                                        Data</a>


                                                    <a class="dropdown-item"
                                                       href="{% url 'applicationManager:load-data' app.id %}"> <span
                                                            class="glyphicon glyphicon-floppy-open"
                                                            icon-id="{{ app.id }}"></span> Load Fixture Data</a>


                                                    <a class="dropdown-item"
                                                       href="{% url 'applicationManager:dump-app-data' app.id %}"> <span
                                                            class="glyphicon glyphicon-floppy-save"
                                                            icon-id="{{ app.id }}"></span> Dump Application
                                                        Data</a>

                                                    <div class="dropdown-divider"></div>

                                                    <a class="dropdown-item"
                                                       href="{% url 'applicationManager:download-app' app.id %}"><span
                                                            class="glyphicon glyphicon-download"
                                                            icon-id="{{ app.id }}"></span> Download as
                                                        tar.gz</a>

                                                    <a class="dropdown-item"
                                                       href="{% url 'applicationManager:package-app' app.id %}"><span
                                                            class="glyphicon glyphicon-download"
                                                            icon-id="{{ app.id }}"></span> Dist package</a>

                                                    <div class="dropdown-divider"></div>


                                                    <a class="dropdown-item"
                                                       href="{% url 'applicationManager:application-management-page' app.id %}"> <span
                                                            class="glyphicon glyphicon-pencil"
                                                            icon-id="{{ app.id }}"></span> Edit Models</a>


                                                    <a class="dropdown-item"
                                                       href="{% url 'applicationManager:create-file' app.id %}"> <span
                                                            class="glyphicon glyphicon-file"
                                                            icon-id="{{ app.id }}"></span> Add Code
                                                        Files</a>
                                                    <div class="dropdown-divider"></div>


                                                    <a class="dropdown-item"
                                                       href="{% url 'applicationManager:create-file' app.id %}"><span
                                                            class="glyphicon glyphicon-cloud-upload"
                                                            icon-id="{{ app.id }}"></span> Upload to
                                                        cloud</a>


                                                    <a class="dropdown-item"
                                                       href="{% url 'applicationManager:genuuid-app' app.id %}"><span
                                                            class="glyphicon glyphicon-key"
                                                            icon-id="{{ app.id }}"></span> Generate UUID</a>

                                                    <div class="dropdown-divider"></div>


                                                    <a class="dropdown-item"
                                                       href="{% url 'applicationManager:application-management-page' app.id %}">Application
                                                        Info</a>

                                                    <div class="dropdown-divider"></div>


                                                    <a class="dropdown-item"
                                                       href="{% url 'applicationManager:delete-application' app.id %}"
                                                       id="delete_selected"
                                                       onmouseover="this.style.background='red';this.style.color='white'"
                                                       onmouseout="this.style.background='';this.style.color=''"><span>Delete Application</span></a>


                                                </div>


                                        </td>
                                    </form>
                                </tr>

                            {% endfor %}


                            </tbody>
                        </table>

                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->
        </div>

    </div>


{% endblock %}


{#User native application  body jscript in view if it is related to requested page otherwise in #}
{#use it in templates#}
{% block application_body_jscript %}
    {{ block.super }}

    <script>
        {#This datatable shows the data which comes in the context; not retrieved from ajax call#}
        $(document).ready(function () {
            $('#application_list_table').DataTable({
                {#"scrollY": "300px",#}
                {#"scrollCollapse": true,#}
                "paging": true,
                "select": true,
            });

            {% if messageType == "Exception" %}
                $.notify("{{ message }}", "error");
            {% endif %}
        });
    </script>




    <!-- Custom Theme JavaScript -->
    <script src="{% static "projectCore/jscript/notify.js" %}"></script>
    <script src="{% static "applicationManager/jscript/deleteApplication.js" %}"></script>




    <script>


        var $table = $('#table');
        var $button = $('#button');
        var csrftoken = getCookie('csrftoken');


        $(function () {

            $('#list_selected').click(function () {
                alert('getSelections: ' + JSON.stringify($table.bootstrapTable('getAllSelections')));
            });

            {#             $('#delete_selected').click(function () {#}
            {#                alert('getSelections: ' + JSON.stringify($table.bootstrapTable('getAllSelections')));#}
            {#            });#}




            {#            -------------------#}
            $('#dump_data').click(function () {

                var apps2dump = {};
                var res = $table.bootstrapTable('getAllSelections');

                for (i = 0; i < res.length; i++) {
                    var jsobj = JSON.stringify(res[i]);
                    apps2dump[i] = res[i]['4'];
                }
                data = apps2dump;

                {# POST Data to service#}
                // Lets first setup the ajax request
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                            // Send the token to same-origin, relative URLs only.
                            // Send the token only if the method warrants CSRF protection
                            // Using the CSRFToken value acquired earlier
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            //alert("beforeSend");
                        }
                    }
                });

                var postURL = "/applicationManager/dumpApplicationData/";
                //alert(postURL);
                $.ajax({
                    //beforeSend: function (xhr, opts) {
                    //    $("#dialog-confirm").dialog({
                    //        resizable: false,
                    //        height: 140,
                    //        modal: true,
                    //        buttons: {
                    //            "Delete all items": function () {
                    //                $(this).dialog("close");
                    //            },
                    //            Cancel: function () {
                    //                $(this).dialog("close");
                    //                xhr.abort();
                    //            }
                    //        }
                    //    });
                    //},

                    //beforeSend:function(){
                    //
                    //},

                    type: "POST",
//            type: $("form[data-formId=" + formId + "]").attr('method'),
                    url: postURL,
//          data:{ worker:user, task:bid, workStartTime:start, workStopTime:end }
                    data: data,
//            data:{}

                    error: function () {
                        //ShowStatus("AJAX - error()");

                        // Load the content in to the page.
                        //jContent.html("<p>Page Not Found!!</p>");
                    },


                    complete: function () {
                        //ShowStatus("AJAX - complete()");
                        //alert('complete')
                    },

                    success: function () {
                        //alert('sucess')
                    }
                }).done(function (msg) {
                    //location.reload(true)
                    {#                        $("#id_table_row_" + buttonId).remove();#}
                    alert(" Your data has been dumped. ");
                });


            });

            {#            --------------------#}
        });
    </script>

{% endblock %}