<form id="confirmation_form" action="{{ request.path }}" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="button" data-delete-target="{{ request.path }}" class="field_delete_confirm" value="Confirm"/>
</form>


<script>
    //Get field list
    $(".field_delete_confirm").on("click", function () {

{#        var field_delete_url = this.getAttribute('data-delete-target');#}
{#        var csrftoken = $("[name*='csrfmiddlewaretoken']").val();#}
{#        alert(field_delete_url);#}
{#        alert(csrftoken);#}


        $("#confirmation_form").submit();
{##}
{#        $("#confirmation_form").submit(function (data) {#}
{#            $(".add_field_modal_content").html(data);#}
{#        })#}


{#        $.post(field_delete_url, function (data) {#}
{#            $(".add_field_modal_content").html(data);#}
{#        });#}


    });
</script>