{% extends "applicationManager/applicationManager_app_template.html" %}
{% load i18n %}
{% load static %}

{% block title %}Application Manager{% endblock %}

{% block application_head_stylesheet %}
    {{ block.super }}
    <link href="{% static "projectCore/css/business-frontpage.css" %}" rel="stylesheet">
{% endblock %}

{

{% block page_content %}

    <div class="card text-center">
{#        <div class="card-header">#}
{#            Featured#}
{#        </div>#}
        <div class="card-body">
            <span><i style="color:darkorange;padding-bottom: 20px" class="fas fa-cogs fa-9x"></i></span>
            <h3 class="card-title" style="color:darkorange;text-decoration-color: darkorange">Application Manager</h3>
            <p class="card-text text-muted" >Authorized roles can access and manage applications published on this platform. You will be redirected to login application if needed.</p>
            <a href="{% url 'applicationManager:landing' %}" class="btn btn-primary">Enter</a>
        </div>
{#        <div class="card-footer text-muted">#}
{#            2 days ago#}
{#        </div>#}
    </div>

{% endblock %}

