{% extends "applicationManager/applicationManager_app_template.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Application Manager{% endblock %}

{% block application_head_stylesheet %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}projectCore/css/business-frontpage.css" rel="stylesheet">
{% endblock %}

{% block header_content %}


{% endblock %}


{% block page_content %}

    <div class="row" style="border: 0px dashed orange;margin-top: 200px;text-align: center;color: darkorange">
        <i class="fa fa-desktop fa-5x"></i>
        <span>
            <a href="{% url 'applicationManager:dashboard' %}" style="color:darkorange;text-decoration-color: darkorange"><h3>Application Management</h3></a>
        </span>
    </div>


{% endblock %}
