{% extends 'projectCore/startbootstrap-sb-admin-2-gh-pages/sb_admin2_index_template.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block page_content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">
            {% if view_path == "createProject" %}
                Create Project
            {% elif view_path == "createApplication" %}
                Create Application
            {% endif %}
        </h1>


        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4 border-left-primary border-info">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
                <h6 class="m-0 font-weight-bold text-primary">{% if form.name %}{{ form.name | capfirst }}{% else%} {{ wizard.steps.current|capfirst }}{% endif %}</h6>
                Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>

            <!-- Card Body -->
            <form action="" method="post" novalidate="novalidate">{% csrf_token %}
                <div class="card-body">
                    {% if form.form_desc %}
                    <div class="alert alert-primary" role="alert">
                        {{ form.form_desc }}
                    </div>
                    {% else %}
                        No form description
                    {% endif %}

                    <table>
                        {{ wizard.management_form }}

                        {% if wizard.form.forms %}
                            {#    {{ wizard.form.management_form }}#}
                            {% crispy wizard.form.management_form %}
                            {% for form in wizard.form.forms %}
                                {% crispy form %}
                            {% endfor %}
                        {% else %}
                            {#    {{ wizard.form }}#}
                            {% crispy wizard.form %}
                        {% endif %}
                    </table>

                </div>
                <div class="card-footer">
                    {% if wizard.steps.prev %}
                        <button class="btn" name="wizard_goto_step" type="submit"
                                value="{{ wizard.steps.first }}">{% trans "First step" %}</button>
                        <button class="btn" name="wizard_goto_step" type="submit"
                                value="{{ wizard.steps.prev }}">{% trans "Prev step" %}</button>
                    {% endif %}

                    <input class="btn btn-primary" type="submit" value="{% trans "Submit" %}"/>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
