{#{% include '/user_list.html' %}#}
{% extends "docker_manager/docker_manager_app_template.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block page_content %}
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <form action="" method="post">{% csrf_token %}
        <table style="border: 1px solid red">
            {{ wizard.management_form }}
            {% if wizard.form.forms %}

                {% crispy wizard.form.management_form %}
                {% for form in wizard.form.forms %}
                    {% crispy form %}
                {% endfor %}
            {% else %}
                {#    {{ wizard.form }}#}
                {#                                {% crispy wizard.form %}#}

                {% for layout in layouts %}
                    <div class="col-md-3">
                        <input type="radio" name="layout_choice_field" value="{{ layout.id }}">
                        <label for="">{{ layout.name }}</label>
                    </div>

                {% endfor %}
                 <div class="clearfix">
                <br><br>

                {#                    {% for choice in wizard.form.layout_opts.field.choices %}#}
                {#                        <div class="col-md-3">#}
                {#                            <input type="radio" name="my_choice_field" value="{{ choice.0 }}"#}
                {#                                    {% ifequal form.my_choice_field.data choice.0 %}#}
                {#                                   checked="checked"#}
                {#                                    {% endifequal %}/>#}
                {#                            <label for="">{{ choice.1 }}</label>#}
                {#                        </div>#}
                {#                    {% endfor %}#}



            {% endif %}
        </table>


        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}
        <input type="submit" value="{% trans "submit" %}"/>
        </div>
    </form>
{% endblock %}


